table tr td{
  border: 2px solid black;
  width: 100px;
  height: 100px;
  
}
table{
  border-collapse: collapse;
  
}
.row1 td:nth-child(odd){
  background-color: white;
}
.row2 td:nth-child(even){
  background-color: white;
}
.row1 td:nth-child(even){
  background-color: rgba(0, 0, 0, 0.142);
}
.row2 td:nth-child(odd){
  background-color: rgba(0, 0, 0, 0.132);
}
td{
  font-size: 30px;
  text-align: center;
}